*{

padding:0;
margin:0;
}
.items-list{
border:1px solid black;
margin-left:40px;
width:40%;
margin-top:20px;
font-size:17px;
margin-bottom:40px;
}

.kitsp1{
	margin-left:10px;

}

.bakesp2{
	margin-left:10px;
	/*margin-right:10px;*/
	
}

.backdishsp3{
	color:gold;
}

.lunch-box1{
	width:95%;
	margin:auto;
	padding:px;
	border:1px solid green;
	margin-bottom:50px;
}

.lunch-box1 h3{
	color:gold;
	
}

.lunch-box1 p{
	padding-top:10px;
}

/* card design start here */
.main-main{
width:90%;
	margin-top:60px;
	display:grid;
grid-template-columns: repeat(auto-fit,minmax(300px, 0fr));
/*background-color:pink;*/
margin:auto;
cursor:pointer;
}
.main1{
	/*width:90%;*/
	/*border:1px solid black;*/

	/*margin-top:50px;*/
	/*height:50%;*/
	/*background-color:red;*/
position:relative;
/*display:grid;
grid-template-columns: repeat(auto-fit,minmax(300px, 0fr));*/
left:50px;
}

.container1{
	width:240px;
	/*background-color:blue;*/
	/*height:250px;*/
	/*border:1px solid red;*/
/*position:relative;*/

}



.img-container1{
	width:240px;
	height:250px;
	/*border:1px solid green;*/
    /*position:absolute;*/
		/*position:relative;*/
}

.img-container1 img{
	width:100%;
	height:100%;
	
}

.new-like{
	width:240px;
	height:70px;
	border:1px solid black;
	position:absolute;
	left:20px;
	background-color:red;

}

.new-in{
	position:absolute;
	top:0px;
	left:4px;
}

.hrt{
	font-size:22px;
	margin-left:140px;
	color:white;
}


/* details about products */

.sub2-contain1{
	width:240px;
	height:90px;
	/*border:1px solid green;*/
	
}

.questionmk{
	border:1px solid black;
    font-size:10px;
	padding:1px;
	font-weight:1700;
}

.range-735{
	font-weight:bold;
}


.questionmak-2{
	border:1px solid black;
    font-size:7px;
	padding:1px;
	font-weight:1700;

	
	
}

del{
	color:grey;
	font-size:12px;
	 
}

.offer{
	  font-size:13px;
	color:gold;
	font-weight:bold;
}

.lock{
	border:1px solid #e6e6fa;
	height:4px;
	width:7px;
	padding:5px;
	border-radius:50%;
	background-color:#e6e6fa;
	color:#d3d3d3;
	margin-left:40px;
	
}

/* main-main end here */



/* main-main2 start here*/
.main-main2{
	margin-top:20px;
}
/* start for baking contant */
.backing-dish1{
	
	margin:auto;
	background-color:#fffaf0;
	padding:50px;
	padding-left:0px;
}


.back-heading{
	color:maroon;
	
}
.backing-dished2{
	width:80%;
	margin:auto;

	

}
.para1{
	margin-top:30px;
	color:grey;
}

.bak-p1{
	font-weight:bold;
}

.kit-p1{
	font-weight:bold;
}

.para2{
	margin-top:30px;
	color:grey;
}

.bak-p2{
	font-weight:bold;
}

.para3{
	margin-top:30px;
	color:grey;
}

.para4{
	margin-top:30px;
	color:grey;
}
/* table*/
.pricing-boost{
	color:maroon;
}

.para5{
	width:85%;
	margin:auto;
	padding:20px;
	color:grey;
}

.pop{
	color:maroon;
}
/* media */

@media only screen and (min-width:700px) and ( max-width:1000px){
.main-main {
	/*display: flex;
    flex-direction: column;*/
	/*align-items:center;*/
	/*justify-content:center;*/
	display:grid;
	margin:auto auto;
	justify-content:center;
}
	.main1 {
		left:0px;
	}
}


@media only screen and (min-width:1000px) and ( max-width:1200px){
	.main-main {
	display:grid;
margin:auto auto;
	justify-content:center;
	}
	.main1 {
		left:0px;
	}
}



/* footer start here */
.footer{
    background-color: #f8edca;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.footer-logo img{
    width:35px;
    height:35px;
    /* object-fit: cover; */
}
.footer-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    gap:40px;
    padding:30px;
}
.stay-in-touch{
    display: flex;
    flex-direction: column;
    width:300px;
    padding:20px;
}
.stay-in-touch h1{
    font-size:20px;
    padding:20px 0px;
    color:#796439
}
.stay-in-touch p{
    font-size:16px;
    color:#72706b
}
.stay-in-touch h4{
    font-size:16px;
}
.end-foot{
   width:150px;
   padding-top:37px;
    }
.end-foot h2{
font-size:23px;
color:#8f794b;
padding-bottom:20px;
}
.end-foot h4{
    font-size:18px;
    line-height: 30px;
    color:rgb(63, 61, 61);
    }
.accept-app{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding:20px;
    gap:10px;
}
.accept-app img{
    width:70px;
    height:30px;
    object-fit: cover;
}
.accept-app p{
font-size:20px;
color:rgb(88, 87, 87);
}


/* footer end here */
@media screen and (max-width:500px) {
.logo-1,.logo-2,.logo-3,.logo-4,.logo-5,.logo-6,.logo-7,.logo-8,.logo-9,.logo-10,.logo-11,.logo-12,.logo-13,.logo-14{
            display:none;
        }
}
@media screen and (min-width:500px) and (max-width:800px) {
.logo-1,.logo-2,.logo-3,.logo-4,.logo-5,.logo-6,.logo-7,.logo-8,.logo-9{
            display:none;
        }
}