*{

padding:0;
margin:0;
}
.items-list{
border:1px solid black;
margin-left:40px;
width:40%;
margin-top:20px;
font-size:17px;
margin-bottom:40px;
}

.kitsp1{
	margin-left:10px;

}

.bakesp2{
	margin-left:10px;
	/*margin-right:10px;*/
	
}

.backdishsp3{
	color:gold;
}

.lunch-box1{
	width:95%;
	margin:auto;
	padding:px;
	border:1px solid green;
}

.lunch-box1 h3{
	color:gold;
	
}

.lunch-box1 p{
	padding-top:10px;
}